[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "myHugo/themes/ananke"]
	path = myHugo/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
